# CAR Price Assignment: 
Manipulating the dataset and deriving some conclusions. 
Data set used here is the CarPrice_Assignment provided.

In [25]:
import pandas as pd
import numpy as np
data=pd.read_csv(r'/Users/shubhamjadli/Desktop/Term 3/MLP/DataSets/CarPrice_Assignment.csv')
#Seeing if there are any NA values
a=data.isna().sum()
Total_NA_Value_Columns=0
for x in a:
    if a[x]==0:
        Total_NA_Value_Columns=Total_NA_Value_Columns
    else:
        Total_NA_Value_Columns=Total_NA_Value_Columns+1
print('Total columns with NA values =',Total_NA_Value_Columns)
#finding duplicates 
print('Number of duplicates =', data.duplicated().sum())

Total columns with NA values = 0
Number of duplicates = 0

In [26]:
#grouping cars based on price range and finding various statistical parameters
data['Price_Range']=pd.cut(data.price,bins=4,labels=['Cheap','Normal','Expensive','Very Expensive'])
print('Car pricing segment and their counts =\n',data.Price_Range.value_counts())
data.groupby(['Price_Range','carbody'])[
    ['wheelbase','carlength','carwidth','curbweight']].agg(['mean','max','min'])

Car pricing segment and their counts =
 Cheap             142
Normal             45
Expensive          11
Very Expensive      7
Name: Price_Range, dtype: int64

                             wheelbase                 carlength         \
                                  mean    max    min        mean    max
Price_Range    carbody
Cheap          convertible   91.550000   94.5   88.6  164.050000  168.8
               hardtop       97.575000   98.4   95.1  172.750000  176.2
               hatchback     95.101724  102.4   86.6  164.596552  186.6
               sedan         97.118333  107.9   93.1  171.195000  188.8
               wagon         99.811111  114.2   94.5  176.988889  198.9
Normal         convertible   93.500000   98.4   88.6  172.500000  176.2
               hardtop             NaN    NaN    NaN         NaN    NaN
               hatchback     97.563636  102.9   91.3  176.290909  186.6
               sedan        104.819231  109.1   99.1  184.676923  192.7
               wagon        107.883333  114.2  104.3  192.650000  198.9
Expensive      convertible   96.600000   96.6   96.6  180.300000  180.3
               hardtop       95.233333  106.7   89.5  175.100000  187.5
               hatchback     98.400000   98.4   98.4  175.700000  175.7
               sedan        111.540000  115.6  103.5  196.940000  202.6
               wagon        110.000000  110.0  110.0  190.900000  190.9
Very Expensive convertible   89.500000   89.5   89.5  168.900000  168.9
               hardtop      112.000000  112.0  112.0  199.200000  199.2
               hatchback           NaN    NaN    NaN         NaN    NaN
               sedan        109.880000  120.9  102.0  198.040000  208.1
               wagon               NaN    NaN    NaN         NaN    NaN

                                    carwidth               curbweight          \
                              min       mean   max   min         mean     max
Price_Range    carbody
Cheap          convertible  159.3  64.150000  64.2  64.1  2401.000000  2548.0
               hardtop      162.4  65.150000  65.6  63.8  2440.750000  2679.0
               hatchback    141.1  64.724138  66.6  60.3  2220.586207  2926.0
               sedan        155.9  65.101667  68.4  61.8  2295.866667  3197.0
               wagon        157.1  65.388889  68.4  63.6  2599.000000  3430.0
Normal         convertible  168.8  64.850000  65.6  64.1  2761.500000  2975.0
               hardtop        NaN        NaN   NaN   NaN          NaN     NaN
               hatchback    168.9  67.363636  68.3  65.5  2928.454545  3139.0
               sedan        175.0  67.461538  71.4  64.8  2913.192308  3252.0
               wagon        187.8  68.183333  71.4  66.5  3179.000000  3485.0
Expensive      convertible  180.3  70.500000  70.5  70.5  3685.000000  3685.0
               hardtop      168.9  66.766667  70.3  65.0  3002.333333  3495.0
               hatchback    175.7  72.300000  72.3  72.3  3366.000000  3366.0
               sedan        189.0  70.040000  71.7  66.9  3664.200000  4066.0
               wagon        190.9  70.300000  70.3  70.3  3750.000000  3750.0
Very Expensive convertible  168.9  65.000000  65.0  65.0  2800.000000  2800.0
               hardtop      199.2  72.000000  72.0  72.0  3715.000000  3715.0
               hatchback      NaN        NaN   NaN   NaN          NaN     NaN
               sedan        191.7  70.140000  71.7  67.9  3760.200000  4066.0
               wagon          NaN        NaN   NaN   NaN          NaN     NaN


                               min
Price_Range    carbody
Cheap          convertible  2254.0
               hardtop      2008.0
               hatchback    1488.0
               sedan        1874.0
               wagon        2024.0
Normal         convertible  2548.0
               hardtop         NaN
               hatchback    2500.0
               sedan        2395.0
               wagon        2954.0
Expensive      convertible  3685.0
               hardtop      2756.0
               hatchback    3366.0
               sedan        3230.0
               wagon        3750.0
Very Expensive convertible  2800.0
               hardtop      3715.0
               hatchback       NaN
               sedan        3380.0
               wagon           NaN

In [310]:
#Finding best car as per your requirements
f_type= input('what fuel type do you want gas or diesel ? ')
d_number=input('Do you want your door to be two or four ? ')
c_body= input('Do you want your car body to be 1. covertible 2. hatchback 3. sedan 4. wagon 5. hardtop')
print("your specified requirement are\n 1.fuel type={}\n 2.number of doors={} \n 3.body type ={}".format(f_type,d_number,c_body))
data1=data.loc[:,['car_ID','CarName','fueltype','doornumber','carbody']]

def car_choice(data1):
    if ((data1.fueltype==f_type)&(data1.doornumber==d_number)&(data1.carbody==c_body)):
            return data1.CarName
    else:
        return (np.nan)
car_choices=data1.apply(car_choice,axis=1)

s_no=1
for x in car_choices.dropna().tolist():
    print ('Choice {}= {}'.format(s_no,x))
    s_no=s_no+1

what fuel type do you want gas or diesel ? gas
Do you want your door to be two or four ? two
Do you want your car body to be 1. covertible 2. hatchback 3. sedan 4. wagon 5. hardtopwagon
your specified requirement are
 1.fuel type=gas
 2.number of doors=two
 3.body type =wagon

# Loan KNN Assignment:

Company wants to automate the loan eligibility process (real time) based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have given a problem to identify the customers segments, those are eligible for loan amount so that they can specifically target these customers. Here they have provided a partial data set.

In [255]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
loan_data=pd.read_csv(r'/Users/shubhamjadli/Desktop/Term 3/MLP/DataSets/train_u6lujuX_CVtuZ9i (1).csv')

#finding out the total missing rows
print("Missing values in data set = ",loan_data.shape[0]-loan_data.dropna().shape[0])

# Filling in those missing rows based on the most probable 
loan_data.Credit_History.value_counts() # this will be done for all the columsn which have missing data
#Gender most dominant is MALE
#Married most dominant is Yes 
#Dependents most dominant is 0
#Self_Employed most dominant is No
#LoanAmount cannot be used as the values are too close
#Loan_Amount_Term most dominant is 360.0
#Credit_History most dominant is 1.0
loan_data.Gender.fillna('Male',inplace=True)
loan_data.Married.fillna('Yes',inplace=True)
loan_data.Dependents.fillna(0,inplace=True)
loan_data.Self_Employed.fillna('No',inplace=True)
loan_data.Loan_Amount_Term.fillna(360.0,inplace=True)
loan_data.Credit_History.fillna(1.0,inplace=True)

#print(loan_data.isna().sum()) // Here we will only get NA values in LoanAmount
loan_data_final=loan_data.dropna()
print("Total rows/indexes removed after filling in NA values based on most occured values= "
      ,loan_data.shape[0]-loan_data_final.shape[0]) # Only 22 values will get dropped

#finding duplicated data 
print("Duplicated data = ",loan_data_final.duplicated().sum()) 

#Mapping values for categorical
loan_data_final['Gender']=loan_data_final['Gender'].map({'Male':1,'Female':0})
loan_data_final['Married']=loan_data_final.Married.map({'Yes':1,'No':0})
loan_data_final['Dependents']=loan_data_final.Dependents.map({'0':0,'1':1,'3+':3,0:0})
loan_data_final['Education']=loan_data_final.Education.map({'Not Graduate':0,'Graduate':1})
loan_data_final['Property_Area']=loan_data_final.Property_Area.map({'Semiurban':0,'Urban':1,'Rural':2})
loan_data_final['Self_Employed']=loan_data_final.Self_Employed.map({'Yes':1,'No':0})
loan_data_final['Loan_Status']=loan_data_final.Loan_Status.map({'Y':1,'N':0})
loan_data_final.Dependents.fillna(3,inplace=True)

# Bifurcating training and testing data from the orginal data_loan_final
x=loan_data_final.iloc[:,1:12]
y=loan_data_final.iloc[:,12]

#Allocating training and test data using train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,random_state=1)

#Passing the training x and y data through the KNN algorithm
KNN=KNeighborsClassifier(n_neighbors=5, metric='euclidean')
KNN.fit(x_train,y_train)

#Predicting the target variable based on some test data 'x_test' 
y_pred=KNN.predict(x_test)
np.array_equal(y_test,y_pred)# checking if all values are same

#Calculating sensitivity, recall and accuracy
Confusion_Matrix=confusion_matrix(y_test, y_pred)
C_M=Confusion_Matrix.flatten(order='F')
print("Precision = ",(C_M[3]/(C_M[2]+C_M[3])*100))
print("Recall/ Sensitivity = ",(C_M[3]/(C_M[0]+C_M[3])*100))
print("Negative predictive value =",(C_M[1]/(C_M[0]+C_M[1])*100))
print("Specificity =",(C_M[1]/(C_M[1]+C_M[2])*100))
print("Accuracy = ",((C_M[3]+C_M[1]))/(C_M[1]+C_M[0]+C_M[2]+C_M[3]))
F_score=(2*(C_M[3]/(C_M[2]+C_M[3])*100)*(C_M[3]/(C_M[0]+C_M[3])*100))/((C_M[3]/(C_M[2]+C_M[3])*100)+(C_M[3]/(C_M[0]+C_M[3])*100))
print("F Score =",F_score)

Missing values in data set =  134
Total rows/indexes removed after filling in NA values based on most occured values=  22
Duplicated data =  0
Precision =  68.75
Recall/ Sensitivity =  91.66666666666666
Negative predictive value = 80.55555555555556
Specificity = 45.3125
Accuracy =  0.7162162162162162
F Score = 78.57142857142857

In [306]:
Gen= input("Input Gender \n 1:for Male 0:for Female")
Marr= input("Enter 1 if Married or 0 for Unmarried")
Depen= input("Number of depedents present \n Input 1, 2 or 3+ in case of more than 3")
Edu= input ("Enter education level \n Input 0 for Not Graduate \n 1 for Graduate ")
SelfEmp= input("If Self employed Input 1 or else enter 0")
AppInc= input("Enter Applicant income")
CoApInc=input("Enter Co Applicant income")
LoAmt=input("Enter loan amount")
LoAmtTerm=input("Enter loan amount term")
Crehis=input("Enter credit history")
PropAre=input("Enter where the property area is \n 0 for Semiurban \n 1 for Urban\n 2 for Rural")
x_actual_values=[Gen,Marr,Depen,Edu,SelfEmp,AppInc,CoApInc,LoAmt,LoAmtTerm,Crehis,PropAre]

Input Gender
 1:for Male 0:for Female1
Enter 1 if Married or 0 for Unmarried1
Number of depedents present
 Input 1, 2 or 3+ in case of more than 30
Enter education level
 Input 0 for Not Graduate
 1 for Graduate 0
If Self employed Input 1 or else enter 01
Enter Applicant income2333
Enter Co Applicant income1516
Enter loan amount95
Enter loan amount term360
Enter credit history1
Enter where the property area is
 0 for Semiurban
 1 for Urban
 2 for Rural1

In [307]:
x_actual_values

['1', '1', '0', '0', '1', '2333', '1516', '95', '360', '1', '1']

In [309]:
x_actual_values=np.array(x_actual_values).astype('int32')
x_actual_values=x_actual_values.reshape(1,11)
x_actual_values=pd.DataFrame(x_actual_values)
x_actual_values.columns=(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'])
y_actual_pred=KNN.predict(x_actual_values)
print('Should the person be given a loan ? \n1 for yes 0 for no. \n As per KNN the answer is =',y_actual_pred)

Should the person be given a loan ?
1 for yes 0 for no.
 As per KNN the answer is = [1]